{% extends 'blog/base.html' %}
{% block content %}

<div class="container">
      <br />
      <div class="card bg-success text-white border-dark">
        <div class="card-header">
          Hello, World!
        </div>
        <div class="card-body">
          <h5 class="card-title">Shubham here!</h5>
          <ul class="list-group">
            <li class="list-group-item bg-success text-white">
              I am a programmer. I program in Python and JavaScript. I do full
              stack web-development and make beautiful, secure, efficient and
              scalable websites.
            </li>
            <br />
            <li class="list-group-item bg-success text-white">
              I use AWS (Amazon Web Services), for hosting web servers, for
              storage purpose, and more...
              <br />
              <small>This site is hosted on aws.</small>
            </li>
            <br />
            <li class="list-group-item bg-success text-white">
              Sometimes I make machines think. Currently I am working on a
              project, and you will see it soon.
            </li>
            <br />
            <li class="list-group-item bg-success text-white">
              If you have projects or startup plans, I would love to
              participate.
            </li>
            <br />
          </ul>
        </div>
      </div>
    </div>

{% endblock %}
